.main
{
    padding-right: 178px;
    padding-left: 178px;
    padding-top: 87px;
    margin-top: 0;
}
.Navbar
{
    height: 87px;
    width: 100%;
    margin-bottom: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
}
.Navbar_inner
{
    height: 100%;
    padding-left: 185px;
    padding-right: 185px;
    display: flex;
    align-items: center;
}
.Logo
{
    height: 59%;
    width: 145px;
    border-right:1px solid #ccc;
    display: inline-flex;
    justify-content: left;
    align-items: center;
}
.Logo img
{
    height: 100%;
    width: 93%;
}
.Address
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 19px;
}
#Address_up
{
    color:rgb(53, 53, 247);
    font-size: 15px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: bold;
}
#Address_bottom
{
    font-size: 13px;
    font-family: 'Roboto', Arial, sans-serif;
    color: rgb(90, 90, 89);
}
.Search_box
{
    margin-left: 80px;
    height: 55%;
    width: 280px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    gap: 100px;
    border: 1px solid #D1D5DB;
    border-radius: 10px;
    background-color: #F3F4F6;
    
}
.Search_box input{
    height: 100%;
    border: none;
    background-color: #F3F4F6;
    font-size: 14px;
font-family: Arial, Helvetica, sans-serif;}
.Search_box input:focus
{
    outline: none;
}
.Search_box i
{
    font-size: 20px;
    color: grey ;
    font-weight: bold;
}
.Sign_In
{
    height: 55%;
    display: flex;
    align-items: center;   
    gap: 5px;
    margin-left: 33px;
}
.Sign_In i
{
    font-size: 23px;
    color:  rgb(53, 53, 53);
}
.Sign_In span
{
    font-size: 15px;
    color:  rgb(53, 53, 53);
    font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
    font-weight: bold;
}
.Cart
{
    height: 55%;
    flex: 1;
    background-color: #D1D5DB;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    margin-left: 30px;
    gap: 10px;
}
.Cart i
{
    color: grey;
    font-size: 25px;
}
.Cart span
{
    color: grey;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.Cart:hover
{
    cursor:not-allowed;
}
.Basic_Menu_Top
{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: 310px;
    background-color:rgb(0, 0, 105) ;
    display: flex;
    justify-content: left;
    align-items: top;
    overflow:hidden;
}
.Basic_Menu_Top img
{
    height: 100%;
    width: 26%;
    margin-left: 15px;
}
.Basic_Menu_bottom
{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: 310px;
    background-color:rgb(0, 0, 105) ;
    display: flex;
    justify-content: left;
    align-items: top;
    overflow:hidden;
    gap: 10px;
}
.Basic_Menu_bottom img
{
    height: 100%;
    width: 28%;
    margin-left: 15px;

}
.Varities
{
    width: 100%;
    height: 90px;
}
.Varities img
{
    height: 100%;
    width: 100%;
}
.heading{
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
.heading span
{
    font-size: 14px;
    /* font-weight: bold; */
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(36, 36, 36);
}
.All_items
{
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
}
.items
{
    width: 12%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 20px;
}
.items img
{
    height: 125px;
    width: 95%;
}
.texts
{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
   
}
.texts span
{
    color: rgb(72, 71, 71);
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.2px;
    text-align: center;
}
.Download
{
    margin-top: 20px;
    width: 100%;
    height: 180px;
    background-color: rgb(230, 225, 225);
    display: flex;
}
.Download_left
{
    padding-left: 120px;
    height: 100%;
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.Dowload_text
{
    width: 100%;
    height: 30%;
    display:flex;
    align-items: center;
}
.Dowload_text span
{
    color:black;
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0px;
}
.Dowload_image
{
    width: 100%;
    height: 23%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
.Dowload_image img
{
    height: 100%;
    width: 35%;
}
.Download_right
{
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items:start;
}
.Download_right img
{
    height: 140%;
    width:60%;
}
.Footer
{
    width: 100%;
    width: 100%;
    height: auto;
    background-color: black;
}
.Swiggy_image
{
    height: 100px;
    width: 18%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    padding: 70px;
}
.Swiggy_image img
{
    height: 50%;
    width: 100%;
}
.Swiggy_image span
{
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 158, 158);
}
.All_lists
{
    display: flex;
    height: 350px;
    width: 100%;
}

.footer-column h3{
    padding-left: 37px;
}
.Categories h3
{
     padding-left: 37px;
}
.Categories
{
    align-items: start;
    padding-left: 40px;
    color: white;
    height: 87%;
    width: 30%;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.Categories ul
{
    list-style-type: none;
    display: flex;
    flex-direction:column;
    gap: 15px;
    color: rgb(179, 173, 173);
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
}
.footer-column
{
    align-items: start;
    padding-left: 40px;
    color: white;
    height:88%;
    width: 15%;
    flex-direction: column;
    display: flex;
    align-items:start;
    justify-content: center;
}
.footer-column ul
{
    list-style-type: none;
    display: flex;
    flex-direction:column;
    gap: 15px;
    color: rgb(179, 173, 173);
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
}
.Company
{
    align-items: start;
    padding-left: 40px;
    color: white;
    height:70%;
    width: 15%;
    flex-direction: column;
    display: flex;
    align-items:start;
    justify-content: center;
}
.Company ul
{
    
    list-style-type: none;
    display: flex;
    flex-direction:column;
    gap: 15px;
    color: rgb(179, 173, 173);
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
}
.Company h3
{
     padding-left: 37px;
}
.both
{
     align-items: start;
    padding-left: 40px;
    color: white;
    height:100%;
    width: 15%;
    flex-direction: column;
    display: flex;
    align-items:start;
    justify-content: center;
}
.both ul
{
    
    list-style-type: none;
    display: flex;
    flex-direction:column;
    gap: 15px;
    color: rgb(179, 173, 173);
    margin-bottom: 35px;
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
}
.both h3
{
    margin: 0;
     padding-left: 37px;
}