.nav{
    height: 44px;
    width: 100%;
    display: flex;
}
.logo{
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-image{
    height:28px;
    width: 28px;
    padding-right: 5px;
}
.menu{
    height: 100%;
    width: 650px;
}
.list{
    display: flex;
    gap:40px;
    list-style-type: none;
    padding: 0;
    align-items: center;
    font-size:16px;
    font-family:"MiSans", "Helvetica Neue", Arial, sans-serif;
    color:rgb(58, 58, 58);
    font-weight:547;
    transition: 1s ease;
}
.item{
    transition: 1s ease;
}
.item:hover{
    color: orangered;
}

.login-support{
    height: 100%;
    display: flex;
    flex: 1;
}
.support{
    margin-left: 210px;
    flex: 1;
    height: 100%;
}
.login{
    height:100%;
    width: 185px;
}
.login-list{
    display: flex;
    gap:36px;
    list-style-type: none;
    padding: 0;
    align-items: center;
    font-size:16px;
    font-family:"MiSans", "Helvetica Neue", Arial, sans-serif;
    color:rgb(58, 58, 58);
    font-weight:547;
}
