.navbar
{
    width: 100%;
    height: 85px;
   border: 1px solid #e5e5e5;
    display: flex;
}
.left-nav
{
    height: 100%;
    width: 175px;
    border-right: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 800;
}
.left-nav:hover
{
    background-color:#faf8f8;
}
#span1
{
    color:#f4c430;
}
#span2
{
    color:#2db83d;
}
.mid-nav
{
    display: flex;
}
.nav-address
{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    justify-content: center;
}
.nav-address:hover:hover
{
    background-color:#faf8f8;
}
#address-up
{
    font-family: 'Poppins', sans-serif;
    font-size:19px;
    font-weight: 770;
}
#address-down
{
    font-family: 'Poppins', sans-serif;
}
.nav-search
{
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 10px;
}
.nav-search input
{
width: 100%;
height: 55%;
border-radius: 10px;
padding-left: 20px;
border: 1px solid #e5e5e5;
background-color: rgb(231, 231, 231);
}
.right-nav
{
    display: flex;
    flex: 1;
}
.login
{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
}
.cart
{
    display: flex;
    width: 55%;
    align-items: center;
    justify-content: center;
}
.box
{
    width: 60%;
    height: 60%;
    border-radius: 7px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 235, 235);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 700;
}
.box:hover
{
    cursor:not-allowed;
}
.image-section1
{
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image
{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    margin-left: 35px;
    margin-right:35px;
}
.image-section2
{
   
    height: 195px;
    display: flex;
    gap: 20px;
    justify-content:left;
    align-items: center;
    padding-left: 50px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.images
{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 24%;
    height: 100%;
}
.imgs
{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.first-menu
{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.each-image
{
    height: 100%;
    width: 9%;
    margin-left: 9px;
}
.each-img{
    height: 100%;
    max-width: 100%;
}
.all
{
    padding-left: 45px;
    font-size: 25px;
    font-family:'Poppins', sans-serif;
    font-weight: 750;
    margin-bottom: 15px;
}
.common
{
    
    width: 100%;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.inside-common{
    height: 100%;
    width: 14%;
   border: 1px solid #e5e5e5;
    border-radius: 10px;
     box-shadow: 0px 2px 8px rgba(0,0,0,0.08);
}
.common-img
{
    width: 100%;
    height: 50%;
    display: flex;
    align-items:end;
    justify-content: center;
}
.common-img img{
    height: 100%;
    width: 80%;
}
.time
{
    margin-top: 3px;
    font-family:'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    height: 12px;
    width: 30%;
    background-color: rgb(224, 224, 223);
    border-radius: 5px;
    font-size: 9px;
    margin-left: 10px;
    font-weight: bold;
}
.common-text-up
{
    padding-left: 10px;
    padding-top: 10px;
    width: 94%;
    height: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.name
{
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: "Inter", sans-serif;
    color: #1c1c1c;
}
.quantity
{
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #666666;
}
.name p
{
    width: 100%;
    font-size: 13px;
    margin: 0;
    font-family:'Poppins', sans-serif;
    font-weight: bold;
}
.quantity span
{
    font-family: "Inter", sans-serif;
    width: 100%;   
    font-size: 13px;
    margin: 0;
}
.common-text-bottom
{
    width: 100%;
    height: 13%;
    display: flex;
    justify-content:left;
    align-items: center;
    gap: 50px;
    padding-left:10px ;
}

.common-text-bottom button{
    height: 85%;
    width: 40%;
    border: 1px solid green;
    color: green;
    background-color: #d3f3d7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
}
.common-text-bottom span
{
    font-weight: bold;
    font-size: 15px;
}
.footer
{
    width: 100%;
    display: flex;
    height: auto;
    margin-top: 50px;
}
.footer-left{
    height:auto ;
    width: 35%;
}
.footer-left-list
{
    padding-left:40px ;
    height: auto;
    display:flex;
    justify-content: left;
    align-items: start;
    width: 100%;
    gap: 60px;
}
.heading
{
    padding-left: 40px;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    display :flex;
    align-items: center;
    gap: 20px;
}
.heading span{
    color: green;
    font-size: 17px;

}
.footer-left-list ol{
    list-style-type: none;
    display: flex;
    flex-direction:column;
    gap: 10px;
    font-family: "Inter", sans-serif;
    color: #666666;
    font-size: 15px;
    padding: 0;
}
.footer-right
{
    height: auto;
    width: 64%;
}
.info
{
    margin-top: 60px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.text-logo
{
    font-family: "Inter", sans-serif;
    color: #666666;
    font-size: 13px;
    width: 32%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.image-logo
{
    font-family: "Inter", sans-serif;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    margin-left: 40px;
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.image-logo img{
    height: 60%;
    width: 90px;

}
.icon-logo
{
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 35px;
    gap: 25px;
}
